.text-danger {
    color: #ff0000;
}
.w-100 {
    width: 100%;
}
.text-left {
    text-align: left;
}
.d-flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}
.font-light {
    font-weight: 300;
}
.font-semi-bold {
    font-weight: 600;
}
.position-absolute {
    position: absolute;
}
