.image__text {
  margin-top: 25px;
  &-wrapper {
    display: flex;
    @include media-breakpoint-down(sm) {
      flex-direction: column-reverse;
    }
  }
  &-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 450px;
    flex: 0 1 65%;
    border-radius: 10px;
    margin-right: 15px;
    @include media-breakpoint-down(sm) {
      margin-right: 0px;
      min-height: 474px;
      border-radius: 0px 0px 10px 10px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding-bottom: 40px;
    }
  }
  &-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 0 1 35%;
    border-radius: 10px;
    margin-left: 15px;
    padding: 50px 80px 30px 80px;
    @include media-breakpoint-down(sm) {
      margin-left: 0px;
      border-radius: 10px 10px 0px 0px;
      padding: 40px;
    }
    &_title{
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      text-transform: uppercase;
      text-align: center;
      line-height: 150%;
      color: $c-white;
      @include media-breakpoint-down(sm) {
        font-size: 24px;
      }
    }
    &_description {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: $c-white;
      @include media-breakpoint-down(sm) {
        font-size: 12px;
      }
    }
  }
  &-button_mobile {
    display: none;
    @include media-breakpoint-down(sm) {
      display: flex;
      max-width: 264px;
      width: 100%;
    }
    & a {
      max-width: 264px;
      width: 100%;
    }
  }
}
.text__block {
  &-btn {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}