.article-template {
  &__hero-container {
    .media {
      border-radius: 10px;
    }
    img {
      border-radius: 10px;
    }
  }
  &__content {
    font-size: 14px;
    color: $c-text;
    img {
      border-radius: 10px;
    }
  }
  &__tags {
    margin: 20px 0 0 0;
    @include media-breakpoint-down(sm) {
      margin: 8px 0 0 0;
    }
    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      color: $c-text;
    }
  }
  &__back {
    text-transform: uppercase;
    font-family: $headings-font-family;
    color: $c-text;
  }
}